@import "../../styles/colors";

.cart-empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  gap: 3rem;
  span{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: $primary-color;

    &:hover{
      text-decoration: underline;
    }
  }
}
.cart-container {
  width: 55%;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }
  .cart-quantity {
    min-width: 2rem;
    text-align: center;
  }
  .cart-subtotal {
    min-width: 1rem;
  }
  .total {
    font-weight: bold;
    border-top: 1px solid rgb(212, 212, 212);
    margin-bottom: 4rem;
  }
  .shopping-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 75rem;
  }
  .checkout {
    border: none;
    background-color: $primary-color;
    border-radius: 0.3rem;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .cart {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 2fr 2fr 0.1fr;
    padding: 1rem 0;
    margin-block: 1rem;
    
    .cart-div{
      display: flex;
      align-items: center;
      gap: 5rem;
    }
    img {
      height: 10vh;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      button {
        border: none;
        background-color: $primary-color;
        border-radius: 0.3rem;
        color: white;
        padding: 0.6rem 1rem;
        min-width: 1.5vw;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  .cart-container {
    .cart {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      .cart-div{
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}
