.filter-container {
  width: 15vw;
  font-family: "Poppins", sans-serif;
  grid-row: span 2;

  .btn-filter {
    border: none;
    padding: 1rem 6rem;
    background-color: rgb(88, 85, 85);
    color: white;
    border-radius: 0.8rem;
    margin-block: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .btn-filter:hover {
    background-color: black;
  }
  .btn-filter:active {
    background-color: rgb(88, 85, 85);
  }
  input {
    font-size: 1rem;
  }
  label {
    font-size: 1.6rem;
  }
  .filter-div {
    display: flex;
    gap: 0.5rem;
  }
  .filter-div p {
    font-size: 1.6rem;
    margin-left: auto;
    margin-bottom: 0.5rem;
  }
  hr {
    margin-block: 1rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .search {
    padding: 0.9rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
