.product-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 1rem;
    width: 80vw;
    margin-top: 10rem;

    .loader-div{
      position: absolute;
      left: 50%;
      top: 40%;
    }
    label{
      margin-block: .3rem;
    }
  }
  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    min-width: 30rem;
    min-height: 55vh;
    border-radius: .8rem;
    margin-block: 1rem;
    outline: 1px solid rgb(230, 230, 230);
    padding-top: 1rem;

    .ware-buttons{
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: auto;

      button{
        padding: 1rem 2.3rem;
        border: none;
        cursor: pointer;
        border-radius: .8rem;
        outline: 1px solid black;
        background-color: white;
        font-weight: bold;
        margin-block: .5rem;
      }
      button.btn-green{
        background-color: $primary-color;
        color: white;
        outline: none;
      }
    }
    
  }
  .ware-name{
    font-size: 2.5rem;
    margin-block: 2rem;
  }
  .ware-price{
    font-size: 3rem;
  }
  .ware-weight{
    font-size: 2rem;
    margin-top: -3rem;
  }
  .hovered{
    background-color: rgb(190, 239, 190);
    transition: 1s; 
    border-radius: .4rem;
    height: 100%;
    display: grid;
    border-radius: .8rem;
  }
  .hover-image{
    height: 10rem;
    margin-top: 1rem;
  }
  .hover-description{
    font-size: 2.5rem; 
    padding: 1.2rem;
  }
  .hover-weight{
    font-size: 2rem;
    padding: .7rem;
  }
  .hover-button{
    padding: 1rem 2.3rem;
    border: none;
    cursor: pointer;
    border-radius: .8rem;
    background-color: white;
    font-weight: bold;
    margin-block: .5rem ;  
  }

  .hover-buttons{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
     Link{
      text-decoration: none;
     }    
     .hover1{
      width: 100%;  
    }
  }
  .hover-div{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    margin-bottom: .7rem;
  }

  
  @media (max-width: 900px){
    .product-div{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .filter-container{
      width: 50vw;
    }
  }