@import "../../styles/colors";

.carousel-one {
  height: 50rem;
  width: 100%;
  background-image: url("/images/Abbotts4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -8rem;
}
.carousel-two {
  background-image: url("/images/Abbotts3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -5rem;
  height: 50rem;
  width: 100%;
}
.carousel-three {
  background-image: url("/images/Abbotts2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -8rem;
  height: 50rem;
  width: 100%;
}
.carousel-container {
  width: 50%;
  margin: 0 auto;
  h1 {
    position: relative;
    top: 9vh;
    font-size: 3.5rem;
    text-align: center;
  }
  span {
    color: white;
    font-size: 2.6rem;
  }
}
.carousel-button {
  background-color: $primary-color;
  border: none;
  color: white;
  min-width: 20%;
  padding: 1.5rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
  align-self: center;
  cursor: pointer;
  &:hover {
    background-color: $primary-hover;
  }
}

.carousel-inner {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-family: "Poppins";
  position: relative;
  top: 87.5%;
  .carousel-button {
    background-color: white;
    color: black;
    &:hover {
      background-color: $primary-hover;
      color: white;
    }
  }
  span {
    font-size: 2.5rem;
    align-self: center;
  }
}
.carousel-overlay {
  background-color: black;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8rem;
  width: 100%;
}

@media screen and (max-width: 1134px) {
  .carousel-container {
    width: 100%;
  }
}
@media screen and (max-width: 712px) {
  .carousel-container {
    .carousel-inner {
      flex-direction: column;
      align-items: center;
      top: 75%;
    }
    .carousel-overlay {
      height: 15rem;
    }
  }
}
