@import '../../styles/colors';

header {
  background-color: $primary-color;
  height: 8rem;
  width: 100%;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
  }

  h2 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5rem;
    margin-top: .5rem;
  }
  a{
    text-decoration: none;
  }
  .logo-div {
    display: flex;
    align-items: center;
    span {
      font-size: 2rem;
    }
    img {
      width: 12rem;
      margin-top: .5rem;
    }
  }

  nav {
    display: flex;
    gap: 1.5rem;

    a,
    .cart-icon {
      color: white;
      margin: 1rem;
      font-size: 2.2rem;
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  @media (max-width: 900px) {
    .header-content {
      .logo-div {
        display: none;
        h2 {
          // font-size: 2.5rem;
          // margin-left: -5rem;
          display: none;
        }
        img {
          width: 12rem;
          top: 0.3rem;
          left: 0.1px;
        }
      }
      nav {
        justify-content: center;
        span {
          display: none;
        }
      }
    }
  }
}
