@import "../../styles/colors";

header {
  background-color: $primary-color;
  height: 6rem;
  width: 100%;
  position: relative;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
  }

  h2 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
  }
  a {
    text-decoration: none;
  }
  .logo-div {
    display: flex;
    align-items: center;
    span {
      font-size: 2rem;
    }
    h2 {
      margin-left: -1rem;
      margin-top: 1rem;
    }
    img {
      width: 9rem;
      margin-top: 0.5rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a,
    .cart-icon {
      color: white;
      margin: 1rem;
      font-size: 2.2rem;
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
    }
    .cart-preview-quantity {
      position: absolute;
      top: 1rem;
      right: 10.5%;
      padding: 1px;
      width: 2rem;
      height: 2rem;
      font-size: 1.6rem;
      text-align: center;
      background-color: black;
      border-radius: 1rem;
      color: white;
    }
  }
  .hamburger-div {
    display: none;
  }
  .show {
    display: block;
  }
  .show-nav {
    display: block;
    flex-direction: column;
    position: relative;
    align-items: start;
    right: 0rem;
    top: 20rem;
    z-index: 2;
  }
  .hamburger {
    display: none;
  }

  @media screen and (max-width: 1134px) {
    .hamburger-div {
      width: 30rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
      background-color: white;
      position: fixed;
      top: 0;
      right: 0;
      min-height: 100vh;
      overflow: auto;
      z-index: 1;
    }
    .hamburger {
      display: block;
      color: white;
      cursor: pointer;
    }
    nav {
      display: none;
      a,
      .cart-icon {
        color: $primary-color;
      }
      .cart-icon {
        align-self: center;
      }
      a {
        border-bottom: 1px solid $primary-color;
        width: 100%;
      }
      .cart-preview-quantity {
        display: none;
      }
    }
  }
  @media (max-width: 712px) {
    .header-content {
      .logo-div {
        display: none;
        h2 {
          // font-size: 2.5rem;
          // margin-left: -5rem;
          display: none;
        }
        img {
          width: 12rem;
          top: 0.3rem;
          left: 0.1px;
        }
      }
      nav {
        justify-content: space-around;
        gap: 3.5rem;

      }
    }
  }
}
