@import "../../styles/colors";

.product-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  gap: 1rem;
  width: 80vw;
  margin-top: 10rem;

  .loader-div {
    position: absolute;
    left: 50%;
    top: 40%;
  }
  label {
    margin-block: 0.3rem;
  }
}

.ware-image {
  height: 20rem;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  min-width: 30rem;
  min-height: 55vh;
  border-radius: 0.8rem;
  margin-block: 1rem;
  outline: 1px solid rgb(230, 230, 230);
  padding-top: 1rem;

  .ware-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

    button {
      padding: 1rem 2.3rem;
      border: none;
      cursor: pointer;
      border-radius: 0.8rem;
      outline: 1px solid rgb(203, 203, 203);
      background-color: white;
      font-weight: bold;
      margin-block: 0.5rem;
    }
    button.btn-green {
      background-color: $primary-color;
      color: white;
      outline: none;
    }
  }
}
.ware-name {
  font-size: 2.5rem;
  margin-block: 2rem;
}
.ware-price {
  font-size: 3rem;
}
.ware-weight {
  font-size: 2rem;
  margin-top: -3rem;
}
.hovered {
  height: 100%;

  &:hover {
    background-color: rgb(190, 239, 190);
    transition: ease-in-out 0.3s;
    border-radius: 0.4rem;
    display: grid;
    border-radius: 0.8rem;
  }
}
.hover-image {
  height: 10rem;
  margin-top: 1rem;
}
.hover-description {
  font-size: 2.5rem;
  padding: 1.2rem;
}
.hover-weight {
  font-size: 2rem;
  padding: 0.7rem;
}
.hover-button {
  padding: 1rem 2.3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: white;
  font-weight: bold;
  margin-block: 0.5rem;
}

.hover-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  Link {
    text-decoration: none;
  }
  .hover1 {
    width: 100%;
  }
}
.hover-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

@media (max-width: 900px) {
  .product-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .filter-container {
    width: 70vw !important;
  }
}

// Filter section
.filter-container {
  width: 15vw;
  font-family: "Poppins", sans-serif;
  grid-row: span 2;

  .btn-filter {
    border: none;
    padding: 1rem 6rem;
    background-color: rgb(88, 85, 85);
    color: white;
    border-radius: 0.8rem;
    margin-block: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .btn-filter:hover {
    background-color: black;
  }
  .btn-filter:active {
    background-color: rgb(88, 85, 85);
  }
  input {
    font-size: 1rem;
  }
  label {
    font-size: 1.6rem;
  }
  .filter-div {
    display: flex;
    gap: 0.5rem;
  }
  .filter-div p {
    font-size: 1.6rem;
    margin-left: auto;
    margin-bottom: 0.5rem;
  }
  hr {
    margin-block: 1rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .search {
    padding: 0.9rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    &:focus {
      border: 1px solid white;
      outline: 2px solid $primary-color;
    }
  }
}
